

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: transparent;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
   
}

.popup .content p{
     font-family: consolas;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.page-header {
  /*border-bottom: 1px solid #ddd;        */
  margin: 20px 0 10px 0!important;
  position: relative;
  z-index: 1;
  font-size: 30px;
}

.page-header a {
  z-index: 5;
  display: block;
  background-color: #ecf0f5;
  color: #000;
}
.page-header a::before {
  content: '#';
  font-size: 25px;
  margin-right: 10px;
  color: #3c8dbc;
}
.pic{
	height: 230px;
	width: 230px;
	 display: block;
    margin: 0 auto;
}